<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="car">
    <!--    <select id="selectBlog" resultType="Blog">-->
    <!--        select * from Blog where id = #{id}-->
    <!--    </select>-->
    <!--这个id时唯一的表示这个SQL语句-->
    <insert id="insert_car">
        insert into t_car(id,car_num,brand,guide_price,produce_time,car_type)
        values(null,#{carNum},#{brand},#{guidePrice},#{preduceTime},#{carType})
    </insert>

    <delete id="delete_car">
        delete from t_car where id = #{id}
    </delete>

    <update id="update_car">
        update t_car set car_num=#{carNum},brand=#{brand},guide_price=#{guidePrice},produce_time=#{preduceTime},car_type=#{carType}
        where id = #{id}
    </update>

    <select id="select_car">
        select * from t_car where id = #{id}
    </select>
</mapper>